
$corDeFundo: #040714;
$corTextoPrincipal: silver;
$cortextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoPrimario1: gray;
$corDeFundoBotaoSecundary:#0063e5;
$corDeFundoBotaoDark:#000;
